* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
 }

 div {
    margin: 10px;
 }




/* inizio main*/
.task {
    background-color:rgb(71, 173, 241);
    padding: 5px;
    border-radius: 10%;
}

.add {
    color: white
}

ul {
    margin: 20px;
    list-style: none;
    vertical-align:baseline;
}

.lista {
    display: inline-block;
    text-align: left;
}

.circle {
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    border: 2px solid green;
    border-radius: 50%;
    text-align: center;
    
}








/* header: logo +
 colore ffffff +
 h1 Toboolist
 */

/* main:
colore background: rgb(246, 248, 249)
colore contenitore: ffffff
colore add task: rgb(71, 173, 241)
colore editorial: rgb(69, 171, 234)
colore Q1: rgb(156, 114, 228)
colore recruting: rgb(100, 192, 169)
colore mobile: rgb(241, 154, 43)
colore website: rgb(216, 99, 161)
colore sales: rgb(176, 201, 38)
&#10003;
&#10007;

*/

