* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 0 auto;
    width: 50%;
    border: 1px solid white;
    min-height: 400px;
    border-radius: 10%;
    padding: 10px;
    background-color: white;
 }

 div {
    margin: 10px;
 }

/* inizio header */
header {
    background-color: white;
    margin-bottom: 30px;
    font-size: 30px;
}






/* inizio main*/
.sfondo {
    background-color: lightgray ;
}


.task {
    background-color:rgb(71, 173, 241);
    padding: 5px;
    border-radius: 10%;
}

.add {
    color: white
}

ul {
    margin: 20px;
    list-style: none;
}

li {
    margin: 20px;
}

.editorial {
    background-color:rgb(71, 173, 241);
    padding: 5px;
    border-radius: 30%;
    color: white;
}

.Q1 {
    background-color:rgb(156, 114, 228);
    padding: 5px;
    border-radius: 30%;
    color: white;
}

.recruting {
    background-color:rgb(100, 192, 169);
    padding: 5px;
    border-radius: 30%;
    color: white;
}

.mobile {
    background-color: rgb(241, 154, 43);
    padding: 5px;
    border-radius: 30%;
    color: white;
}

.website {
    background-color:rgb(216, 99, 161);
    padding: 5px;
    border-radius: 30%;
    color: white;
}

.sales {
    background-color: rgb(176, 201, 38);
    padding: 5px;
    border-radius: 30%;
    color: white;
}
.lista {
    display: inline-block;
    text-align: left;
}

.circle {
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    border: 2px solid green;
    border-radius: 50%;
    text-align: center;
    
}








/* header: logo +
 colore ffffff +
 h1 Toboolist
 */

/* main:
colore background: rgb(246, 248, 249)
colore contenitore: ffffff
colore add task: rgb(71, 173, 241)
colore editorial: rgb(69, 171, 234)
colore Q1: rgb(156, 114, 228)
colore recruting: rgb(100, 192, 169)
colore mobile: rgb(241, 154, 43)
colore website: rgb(216, 99, 161)
colore sales: rgb(176, 201, 38)
&#10003;
&#10007;

*/

